name: Create Repo for RustDesk latest

on:
  schedule:
    # Every Saturday at 3AM UTC
    - cron: "0 3 * * 6"
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  workflow_dispatch:
  
env:
    REPO_NAME: xlion-rustdesk-latest-apt-repo
    CODENAME: main
    COMPONENTS: main
    ARCHITECTURES: amd64 arm64 armhf i386
    # armhf is ARMv7 (32bit) 

permissions:
    contents: read

jobs:
    verify:
      name: Verify container
      runs-on: ubuntu-24.04-arm
      steps:
        - name: Install Cosign
          uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

        - name: Verify
          run: |
            cosign verify --rekor-url=https://rekor.sigstore.dev \
            --certificate-identity-regexp "https://github.com/xlionjuan/.*" \
            --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
            ghcr.io/xlionjuan/fedora-createrepo-image:latest

    build:
      runs-on: ubuntu-24.04-arm
      needs: verify
      container: ghcr.io/xlionjuan/fedora-createrepo-image:latest
      steps:
        - name: Checkout code
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            persist-credentials: false

        - name: Download Keyring
          shell: bash
          run: |
            url=$(curl -s https://api.github.com/repos/xlionjuan/xlion-repo-archive-keyring/releases/latest | jq -r '.assets[] | select(.name | endswith(".deb")) | .browser_download_url') && tmpfile="$(basename "$url")" && curl -L "$url" -o "$tmpfile"

        - name: Verify Keyring
          shell: bash
          env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            gh attestation verify --owner xlionjuan --predicate-type 'https://in-toto.io/attestation/release' xlion-repo-archive-keyring*

        - name: Download RustDesk
          run: dpkg-deb --build rustdesk-server-meta rustdesk-server-meta.deb & bash rustdesk_latest.sh & bash rustdesk-server_latest.sh

        - name: Repackage
          run: |
            bash repackage.sh

        - name: Create apt repository
          uses: xlionjuan/apt-repo-action@6904bef9c1e836ccccaac1f541bacf8f58be66ff
          id: create-apt-repo
          with:
            repo-name: ${{ env.REPO_NAME }}
            signing-key: ${{ secrets.SIGNING_KEY }}
            codename: ${{ env.CODENAME }}
            components: ${{ env.COMPONENTS }}
            architectures: ${{ env.ARCHITECTURES }}

        - name: Copy wwwroot to the output folder
          env:
            APT_REPO_OUTPUT_DIR: ${{ steps.create-apt-repo.outputs.dir }}
          run: cp -r wwwroot/* ${APT_REPO_OUTPUT_DIR}

        - name: Upload Pages artifact
          uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
          with:
            name: github-pages
            path: ${{ steps.create-apt-repo.outputs.dir }}

        - name: Publish Artifacts
          uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
          with:
            name: cf_r2
            path: ${{ steps.create-apt-repo.outputs.dir }}
            if-no-files-found: error

    deploy:
      name: Deploy to GitHub Pages
      if: github.event_name != 'pull_request'
      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}
      runs-on: ubuntu-24.04-arm
      needs: build
      permissions:
        contents: read
        pages: write
        id-token: write
      steps:
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5

    push-to-cf-r2:
      name: Push to Cloudflare R2
      if: github.event_name != 'pull_request'
      runs-on: ubuntu-24.04-arm
      needs: build
      steps:
        - name: Download artifact
          uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
          with:
            pattern: cf_r2
            path: src-dir/latest
            merge-multiple: true
    
        - name: Upload to Cloudflare R2
          uses: ryand56/r2-upload-action@47013c9cf0012876409579ed17399005aa287b48 # v1.3.4
          with:
            r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
            r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
            r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
            r2-bucket: ${{ secrets.R2_BUCKET }}
            keep-file-fresh: true
            source-dir: src-dir
            destination-dir: ./
